@font-face {
    font-family: "Inter";
    src: url("./InterTight/InterTight-Light.ttf") format("truetype");
  }

body{
    font-family: "Inter";
    background-color: rgb(0, 0, 0);
    
}

.heading {
    display: flex;
    gap: 10px;
    position: absolute;
    left:200px;
    top:60px;
    cursor: pointer;

}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 112, 4);
    width: 100px;
    height: 100px;
    padding:10px;
    cursor: pointer;

}
.heading-text{
    /* text-align: center; */
    font-size: 48px;

    /* align:center; */
    color:rgb(33, 255, 159);
    cursor: pointer;


}

.project1{
    display: flex;
    gap: 10px;
    position: absolute;
    left:200px;
    top:200px;
    width: auto;
    height: auto;
    cursor: pointer;

}

.project2{
    display: flex;
    gap: 10px;
    position: absolute;
    left:200px;
    top:340px;
    cursor: pointer;

}

.project3{
    display: flex;
    gap: 10px;
    position: absolute;
    left:200px;
    top:480px;
    cursor: pointer;

}
.codingfromlife{
    display: flex;
    gap: 10px;
    position: absolute;
    left:200px;
    top:620px;
    cursor: pointer;

}

.wrapper:hover{
background-color:rgb(43, 64, 255);
}
.heading-text:hover{
    color:rgb(254, 112, 4);
}